body {
  background-color: "white";
}

.loginheader {
  background: #929292;
  border-radius: 11px;
  color: #ffffff;
  font-size: 15px;
  height: 15px;
  margin-left: -100px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  top: 20px;
  left: 50%;
  text-align: center;
  vertical-align: center;
  width: 200px;
}

.logininputname {
  margin-left: -95px;
  position: absolute;
  top: 70px;
  left: 50%;
  width: 190px;
}

.logininputpassword {
  margin-left: -95px;
  position: absolute;
  top: 100px;
  left: 50%;
  width: 190px;
}

.loginbutton {
  margin-left: -100px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: absolute;
  top: 130px;
  left: 50%;
  width: 200px;
}

.loginchangepassword {
  margin-left: -100px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: absolute;
  top: 165px;
  left: 50%;
  width: 200px;
}

.loginnewpassword {
  margin-left: -95px;
  position: absolute;
  top: 200px;
  left: 50%;
  width: 190px;
}

.loginnewpasswordconfirm {
  margin-left: -95px;
  position: absolute;
  top: 230px;
  left: 50%;
  width: 190px;
}

.loginmessage {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 200px;
}
